:root {
    --number: rgb(86, 101, 115);
    --section-header: rgb(28, 40, 51 ); 
}

body {
    background-image: url("../../assets/images/Los-Angeles-Mountains.jpg");
    height: 2620px;
}

/* HEADER  */

header {
    height: 50px;
    margin-left: 750px;
    width: 300px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: -10px;
}

header nav ul li {
    margin-left: 12px;
    text-transform: uppercase;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* SECOND HEADER  */

.header-two {
    margin-top: 770px;
    position: absolute;
}

.header-two nav ul li a {
    color: var(--section-header);
    font-weight: bold;
}

/* FIRST SECTION  */

#one {
    border: 1px solid transparent;
    height: 710px;
    margin-top: 832px;
    width: 1330px;
}

.text-one {
    border: 1px solid transparent;
    height: 10%;
    margin-left: 17%;
    margin-top: 15%;
    width: 66%;
}

.label {
    border: 1px solid transparent;
    height: 200%;
    margin-top: -17%;
    width: 40%;
}

.label-num {
    border: 1px solid transparent;
    height: 100%;
    width: 50%;
}

.label-num h2 {
    color: var(--number);
    font-size: 180px;
    margin-top: -30px;
}

.label-text {
    border: 1px solid transparent;
    height: 30%;
    margin-left: 50%;
    margin-top: -24%;
    width: 50%;
}

.label-text h3 {
    color: var(--section-header);
    font-size: 35px;
    margin-top: 0px;
    text-transform: uppercase;
}

/* SECOND SECTION */

#two {
    border: 1px solid transparent;
    height: 170px;
    margin-top: 193px;
}

.text-two {
    border: 1px solid transparent;
    height: 25%;
    margin-left: 610px;
    margin-top: 60px;
    width: 40%;
}

.label-two {
    border: 1px solid transparent;
    height: 350%;
    margin-left: -350px;
    margin-top: -50px;
    width: 55%;
}

.label-num-two {
    border: 1px solid transparent;
    height: 100%;
    width: 60%;
}

.label-num-two h2 {
    color: var(--number);
    font-size: 180px;
    margin-top: -30px;
}

.label-text-two {
    border: 1px solid transparent;
    height: 30%;
    margin-left: 60%;
    margin-top: -30%;
    width: 40%;
}

.label-text-two h3 {
    color: var(--section-header);
    font-size: 35px;
    margin-top: 0px;
    text-transform: uppercase;
}

.text-two p {
    margin-top: -100px;
}

/* THIRD SECTION */

#three {
    border: 1px solid transparent;
    height: 545px;
    margin-top: 50px;
}

.schedule {
    border: 1px solid transparent;
    height: 225px;
    margin-left: 342px;
    margin-top: 100px;
    width: 350px;
}

.schedule-header {
    border: 1px solid transparent;
    height: 25%;
    text-align: center;
}

.schedule-header h3 {
    border: 1px solid transparent;
    color: var(--section-header);
    font-size: 30px;
    height: 60%;
    margin-left: 25%;
    margin-top: 10px;
    text-transform: uppercase;
    width: 50%;
}

.schedule-body {
    border: 1px solid transparent;
    height: 75%;
}

.day {
    border: 1px solid transparent;
    display: flex;
    height: 17%;
    justify-content: space-around;
    margin-left: -15px;
}

.d-two, .d-three {
    margin-top: 10px;
}

/* iPad */
@media screen and (max-width: 768px) {
    body {
        background-size: 110% 110%;
    }

    header {
        margin-left: 400px;
    }

    header nav ul li {
        width: 400%;
    }

    header nav ul li a {
        font-size: 30px;
        width: 200%;
    }

    .header-two {
        margin-top: 835px;
    }

    #one {
        margin-left: -200px;
        margin-top: 950px;
    }

    .text-one p {
        background-color: white;
        font-size: 25px;
        width: 600px;
    }

    #two {
        margin-left: -250px;
        margin-top: 270px;
    }

    .label-text-two {
        margin-left: 170px;
        margin-top: -80px;
    }

    .text-two p {
        font-size: 30px;
        margin-left: -50px;
        margin-top: -160px;
        width: 375px;
    }

    .schedule {
        border: 1px solid transparent;
        height: 250px;
        margin-left: 180px;
        margin-top: 110px;
        width: 170px;
    }

    .schedule-header h3 {
        margin-left: 5px;
    }

    .day p {
        font-size: 20px;
    }
}
